<!-- Get credit card for tables -->
<script>
    function get_creditcard_table(){
        $.ajax({
            type: "GET",
            url: "{% url 'finance:credit_card' %}",
            data: {},
            success: function (response) {
                if (response.status) {
                    table_credit_card_finance._options._optionManager._options.dataSource._store._array = response.credit_cards;
                    table_credit_card_finance.refresh();
                } else {
                    toastr.error('Ocorreu um erro inesperado: ' + response.description, 'Erro ao enviar')
                }
                load('off');
            },
            error: function (data) {
                load('off');
                toastr.error('Ocorreu um erro inesperado.', 'Erro ao enviar');
            }
        });
    }
</script>

<!-- Get credit card for tables -->
<script>
    function get_bank_account_table(origin){
        $.ajax({
            type: "GET",
            url: "{% url 'finance:bank_account' %}",
            data: {},
            success: function (response) {
                if (response.status) {
                    origin._options._optionManager._options.dataSource._store._array = response.bank_accounts;
                    origin.refresh();
                } else {
                    toastr.error('Ocorreu um erro inesperado: ' + response.description, 'Erro ao enviar')
                }
                load('off');
            },
            error: function (data) {
                load('off');
                toastr.error('Ocorreu um erro inesperado.', 'Erro ao enviar');
            }
        });
    }
</script>

<!-- Get investiments for tables -->
<script>
    function get_investment_table(){
        $.ajax({
            type: "GET",
            url: "{% url 'finance:investment' %}",
            data: {},
            success: function (response) {
                if (response.status){
                    tabela_aplicacoes._options._optionManager._options.dataSource._store._array = response.investments;
                    tabela_aplicacoes.refresh();
                }
                load('off');
            },
            error: function (data) {
                load('off');
                toastr.error('Ocorreu um erro inesperado.', 'Erro ao enviar');
            }
        });
    }
</script>

<!-- Get finance categories for tables -->
<script>
    function get_categories_table(origin) {
        $.ajax({
            type: "GET",
            url: "{% url 'finance:category' %}",
            data: {},
            success: function (response) {
                if (response.status) {
                    origin._options._optionManager._options.dataSource._store._array = response.categories;
                    origin.refresh();
                } else {
                    toastr.error('Ocorreu um erro inesperado: ' + response.description, 'Erro ao enviar');
                }
                load('off');
            },
            error: function (data) {
                load('off');
                toastr.error('Ocorreu um erro inesperado.', 'Erro ao enviar');
            }
         });
    }
</script>