<script>
    function get_creditcard_table(){
        $.ajax({
            type: "GET",
            url: "{% url 'finance:credit_card' %}",
            data: {},
            success: function (response) {
                tabela_cartoes_credito._options._optionManager._options.dataSource._store._array = response.cartoes;
                tabela_cartoes_credito.refresh();
                load('off');
            },
            error: function (data) {
                load('off');
                toastr.error('Ocorreu um erro inesperado.', 'Erro ao enviar');
            }
        });
    }
</script>

<script>
    function get_investment_table(){
        $.ajax({
            type: "GET",
            url: "{% url 'finance:investment' %}",
            data: {},
            success: function (response) {
                if (response.status){
                    tabela_aplicacoes._options._optionManager._options.dataSource._store._array = response.investments;
                    tabela_aplicacoes.refresh();
                    console.log(response);
                }
                load('off');
            },
            error: function (data) {
                load('off');
                toastr.error('Ocorreu um erro inesperado.', 'Erro ao enviar');
            }
        });
    }
</script>