<!-- Get bank account for tables -->
<script>
    function get_bank_account_table(origin) {
        $.ajax({
            type: "GET",
            url: "{% url 'finance:bank_account' %}",
            data: {},
            success: function (response) {
                if (response.status) {
                    origin._options._optionManager._options.dataSource._store._array = response.bank_accounts;
                    origin.refresh();
                } else {
                    toastr.error('Ocorreu um erro inesperado: ' + response.description, 'Erro ao enviar')
                }
                load('off');
            },
            error: function (data) {
                load('off');
                toastr.error('Ocorreu um erro inesperado.', 'Erro ao enviar');
            }
        });
    }
</script>