<script>
    function get_bills() {
        var period = $("#combo_referencia_fatura").val();
        var card = $('#combo_cartoes_fatura').val();

        $.ajax({
            type: 'GET',
            url: '{% url 'finance:fatura' %}',
            data: {
                'anomes': period,
                'card': card
            },
            {#processData: false,#}
            {#contentType: false,#}
            success: function (response) {
                if (response.status) {
                    table_credit_card_bill_finance._options._optionManager._options.dataSource._store._array = response.bill;
                    table_credit_card_bill_finance.refresh();
                }
                load('off');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                load('off');
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }

    function get_statement() {
        load('on');
        var referencia = $("#combo_referencia_extrato").val();
        var conta = $("#combo_conta_extrato").val();

        $.ajax({
            type: 'GET',
            url: '{% url 'finance:statement' %}',
            data: {
                'referencia': referencia,
                'conta_id': conta,
            },
            success: function (response) {
                if (response.status) {
                    tabela_extrato_bancario._options._optionManager._options.dataSource._store._array = response.statement;
                    tabela_extrato_bancario.refresh();
                }
                load('off');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                load('off');
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }

    function set_statement() {
        $.ajax({
            type: "POST",
            url: "{% url 'finance:statement' %}",
            data: {
                'valor': $('#add_extrato_valor').val().replace(',', '.'),
                'dat_compra': $('#add_extrato_data').val(),
                'descricao': $('#add_extrato_descricao').val(),
                'categoria_id': $('#add_extrato_categoria').val(),
                'conta_id': $('#add_extrato_conta').val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function (response) {
                if (response.status === true) {
                    modal.modal('hide');
                    // load('off');
                    // let produto = {};
                    // //criacao de um novo objeto produto
                    // $.each(response.produto[0], function (index, obj) {
                    //     if (response.produto[0][index])
                    //         produto[index] = obj;
                    // });
                    //
                    // //criacao de um novo array para substituir o da tabela com a linha adicionada
                    // let array = [];
                    // array.push(produto);
                    // for (let item of e.component._options._optionManager._options.dataSource._store._array) {
                    //     array.push(item)
                    // }
                    //
                    // e.component._options._optionManager._options.dataSource._store._array = array;
                    // e.component.refresh();
                    toastr.success('Você alterou um registro com sucesso!', 'Alteração realizada');
                } else {
                    // load('off');
                    toastr.error(response.descricao, 'Erro');
                }
                load('off');
            },
            error: function (data) {
                load('off');
                toastr.error('Ocorreu um erro inesperado.', 'Erro ao enviar');
            }
        });
    }



    function get_bank_account() {
        $.ajax({
            type: "GET",
            url: "{% url 'finance:bank_account' %}",
            data: {},
            success: function (response) {
                var combos_contas = $("#add_extrato_conta, #combo_conta_extrato");

                combos_contas.attr('disabled', false);
                combos_contas.find('option').remove().end().append('<option value=0>Contas</option>');
                $.each(response.contas, function (key, value) {
                    combos_contas.append('<option value=' + value.nome + '>' + value.nm_banco + '</option>');
                });
                load('off');
            },
            error: function (data) {
                load('off');
                toastr.error('Ocorreu um erro inesperado.', 'Erro ao enviar');
            }
        });
    }

    function getPeriods() {
        $.ajax({
            type: "GET",
            url: "{% url 'finance:periods' %}",
            data: {},
            success: function (response) {
                var combos_periodo = $("#combo_referencia_fatura, #combo_referencia_extrato");

                combos_periodo.attr('disabled', false);
                combos_periodo.find('option').remove().end().append('<option value=0>Selecione</option>');
                $.each(response, function (key, value) {
                    if (value.is_now) {
                        combos_periodo.append('<option selected value=' + value.value + '>' + value.text + '</option>');
                    } else {
                        combos_periodo.append('<option value=' + value.value + '>' + value.text + '</option>');
                    }
                });

                get_statement();
                get_bills();
                load('off');
            },
            error: function (data) {
                load('off');
                toastr.error('Ocorreu um erro inesperado.', 'Erro ao enviar');
            }
        });
    }
</script>

<!-- get all currency -->
<script>
    function get_currency(origin) {
        $.ajax({
            type: "GET",
            url: "{% url 'finance:currency' %}",
            data: {},
            success: function (response) {
                var combo = $("#combo_currency_bill_finance");
                combo.attr('disabled', false);
                $.each(response.currency, function (key, value) {
                    combo.append('<option value=' + value.value + '>' + value.text + '</option>');
                });
            },
            error: function (response) {
            }
        });
    }
</script>

<!-- Get modules modal -->
<script>
    function get_modules_combo(origin, selected_id) {
        $.ajax({
            type: "GET",
            url: "{% url 'core:module' %}",
            data: {
                'selected_id': typeof selected_id == 'undefined' ? null : selected_id,
            },
            success: function (response) {
                if (response.status) {
                    $("#" + origin).attr('disabled', false);
                    $("#" + origin).find('option').remove().end().append('<option value=0>Selecione</option>');

                    $.each(response.modules, function (key, value) {
                        if (value.is_selected) {
                            $("#" + origin).append('<option value=' + value.id + ' selected>' + value.name + '</option>');
                        } else {
                            $("#" + origin).append('<option value=' + value.id + '>' + value.name + '</option>');
                        }
                    });
                }
            },
            error: function (response) {

            }
        });
    }
</script>

<!-- TODO: trocar scripts de gráficos de arquivo -->
<!-- Get fixed expenses chart -->
<script>
    function get_fixed_expenses_chart() {
        $.ajax({
            type: 'GET',
            url: '{% url 'finance:fixed_expenses' %}',
            data: {
                'reference': 202206,
            },
            traditional: true,
            success: function (response) {
                chart_pie_fixed_expenses_finance.dxPieChart("option", "dataSource", response.expenses);
            },
            error: function (response) {

            }
        });
    }
</script>

<!-- Get variable expenses chart -->
<script>
    function get_variable_expenses_chart() {
        $.ajax({
            type: 'GET',
            url: '{% url 'finance:fixed_expenses' %}',
            data: {
                'reference': 202206,
            },
            traditional: true,
            success: function (response) {
                chart_pie_variable_expenses_finance.dxPieChart("option", "dataSource", response.expenses);
            },
            error: function (response) {

            }
        });
    }
</script>

<!-- Get expenses evolution chart -->
<script>
    function get_expenses_evolution_chart() {
        $.ajax({
            type: 'GET',
            url: '{% url 'finance:evolution_expenses' %}',
            data: {
                'reference': 202206,
            },
            traditional: true,
            success: function (response) {
                {#chart_line_expenses_evolution_finance.dxPieChart("option", "dataSource", response.expenses);#}
            },
            error: function (response) {

            }
        });
    }
</script>

