<script>
    var table_credit_card_bill_finance = $("#tabela_fatura_credito").dxDataGrid({
        dataSource: data_table_credit_card_bill_finance,

        //options default
        focusedRowEnabled: true,
        allowColumnReordering: optionsDefaultTables.allowColumnReordering,
        filterRow: optionsDefaultTables.filterRow,
        export: optionsDefaultTables.export,
        onFileSaving: optionsDefaultTables.onFileSaving,
        headerFilter: optionsDefaultTables.headerFilter,
        groupPanel: optionsDefaultTables.groupPanel,
        filterPanel: optionsDefaultTables.filterPanel,
        filterBuilderPopup: optionsDefaultTables.filterBuilderPopup,
        paging: {
            pageSize: 10,
        },
        pager: {
            showPageSizeSelector: true,
            allowedPageSizes: [10, 15, 50],
            showNavigationButtons: true,
            showInfo: true,
            infoText: "Página {0}/{1} ({2} compras)"
        },
        scrolling: optionsDefaultTables.scrolling,
        onContentReady: optionsDefaultTables.onContentReady,
        rowAlternationEnabled: optionsDefaultTables.rowAlternationEnabled,
        searchPanel: optionsDefaultTables.searchPanel,
        selection: optionsDefaultTables.selection,
        sorting: optionsDefaultTables.sorting,
        allowColumnResizing: optionsDefaultTables.allowColumnResizing,
        columnAutoWidth: optionsDefaultTables.columnAutoWidth,
        showColumnLines: optionsDefaultTables.showColumnLines,
        grouping: optionsDefaultTables.grouping,
        showRowLines: optionsDefaultTables.showRowLines,
        columnChooser: optionsDefaultTables.columnChooser,
        columnFixing: optionsDefaultTables.columnFixing,
        onEditorPreparing: function (e) {
            searchPanelCustomize(e);
            addBtnExport(e);
            resetGroupToolbar(e);
            btnFilterAdvanced(e);
            btnClearFilter(e);
            btnGroupGeneric(e, [
                [{
                    btnClass: "btn btn-plus icon_plus seletorBtnAddProduto text-white",
                    btnTooltip: "Adicionar Compra no crédito",
                    btnClick: function () {
                        let modal = $("#modal_adicionar_fatura");

                        //Busca as categorias disponíveis
                        get_categories_combo('combo_category_bill_entry_finance');
                        get_currency('combo_currency_bill_entry_finance');
                        get_credit_card_combo('combo_creditcard_bill_finance');

                        clean_creditcard_bill_modal();

                        //Chama função pasa salvar as informações
                        // TODO: trocar esta função pela ação direto do botão no modal
                        modal.find('.seletorBtnSalvar').off('click').on('click', function (ev) {
                            set_bill()
                        });
                        modal.modal('show');

                    }
                }]
            ]);
            addBtnChooser(e);
            btnAfterEnd(e);

        },
        columns: [
            {
                dataField: "id",
                caption: "Id",
                dataType: "string",
                visible: false,
                {#width: 225,#}
                headerCellTemplate: function (container, options) {
                    // função filterRow(container, options, headerDefault);
                    // 1 parâmetro, container: elemento HTML referente a este header
                    // 2 parâmetro, options: todas as opções referente a esta instancia do datagrid
                    // 3 parâmetro, headerDefault: recebe um booleano, caso você esteja inserindo um html diferente do que existe no ~caption: "NomeDaColuna"~ coloque o parâmetro false, indicando que o header não é default, caso contrário a função irá inserir o caption como nome da coluna por padrão, este parâmetro pode ser opcional.
                    filterRow(container, options);
                },
                cellTemplate: function (container, options) {
                    container.css('text-align', 'center');
                    container.html(`
                    <span class="text-uppercase font-weight-semibold">${options.data[options.column.dataField]}</span>
                    <div class="d-flex justify-content-center">
                        <span class="text-muted"><span class="font-weight-semibold">Parcela:</span> ${options.data.nr_parcela}/${options.data.tot_parcela}</span>
                    </div>
                `);
                }
            },
            {
                dataField: "reference",
                caption: "Referência",
                dataType: "string",
                visible: false,
                {#width: 225,#}
                headerCellTemplate: function (container, options) {
                    // função filterRow(container, options, headerDefault);
                    // 1 parâmetro, container: elemento HTML referente a este header
                    // 2 parâmetro, options: todas as opções referente a esta instancia do datagrid
                    // 3 parâmetro, headerDefault: recebe um booleano, caso você esteja inserindo um html diferente do que existe no ~caption: "NomeDaColuna"~ coloque o parâmetro false, indicando que o header não é default, caso contrário a função irá inserir o caption como nome da coluna por padrão, este parâmetro pode ser opcional.
                    filterRow(container, options);
                },
                cellTemplate: function (container, options) {
                    container.css('text-align', 'center');
                    container.html(`
                    <span class="text-uppercase font-weight-semibold">${options.data[options.column.dataField]}</span>
                    <div class="d-flex justify-content-center">
                        <span class="text-muted"><span class="font-weight-semibold">Parcela:</span> ${options.data.nr_parcela}/${options.data.tot_parcela}</span>
                    </div>
                `);
                }
            },
            {
                dataField: "card",
                caption: "Cartão",
                dataType: "text",
                visible: true,
                {#width: 300,#}
                headerCellTemplate: function (container, options) {
                    // função filterRow(container, options, headerDefault);
                    // 1 parâmetro, container: elemento HTML referente a este header
                    // 2 parâmetro, options: todas as opções referente a esta instancia do datagrid
                    // 3 parâmetro, headerDefault: recebe um booleano, caso você esteja inserindo um html diferente do que existe no ~caption: "NomeDaColuna"~ coloque o parâmetro false, indicando que o header não é default, caso contrário a função irá inserir o caption como nome da coluna por padrão, este parâmetro pode ser opcional.
                    filterRow(container, options);
                },
                cellTemplate: function (container, options) {
                    var dataField = options.column.dataField;
                    var value = options.data[dataField]

                    var tdContent = `<p class="text-center font-weight-semibold">${options.data[options.column.dataField]}</p>`;
                    {#var tdContent = `<span class="text-uppercase font-weight-semibold text-center">${options.data[options.column.dataField]}</span>`;#}
                    container.html(tdContent);

                    container.parent().addClass('cursor-pointer').on('click', function () {
                        alert('abre modal de edicao');
                    });
                }
            },
            {
                dataField: "dat_purchase",
                caption: "Compra",
                dataType: "number",
                visible: true,
                {#width: 150,#}
                headerCellTemplate: function (container, options) {
                    // função filterRow(container, options, headerDefault);
                    // 1 parâmetro, container: elemento HTML referente a este header
                    // 2 parâmetro, options: todas as opções referente a esta instancia do datagrid
                    // 3 parâmetro, headerDefault: recebe um booleano, caso você esteja inserindo um html diferente do que existe no ~caption: "NomeDaColuna"~ coloque o parâmetro false, indicando que o header não é default, caso contrário a função irá inserir o caption como nome da coluna por padrão, este parâmetro pode ser opcional.
                    filterRow(container, options);
                },
                cellTemplate: function (container, options) {
                    var dataField = options.column.dataField;
                    var value = options.data[dataField]
                    var valueFormatado = "--"

                    if (parseFloat(value).toString() === "NaN" || parseFloat(value).toString() === "undefined") {
                    } else {
                        valueFormatado = formatDateTime(value, "data")
                    }
                    var tdContent = `<p class="text-center">${valueFormatado}</p>`;
                    container.html(tdContent);

                }
            },
            {
                dataField: "dat_payment",
                caption: "Pagamento",
                dataType: "number",
                visible: true,
                {#width: 150,#}
                headerCellTemplate: function (container, options) {
                    // função filterRow(container, options, headerDefault);
                    // 1 parâmetro, container: elemento HTML referente a este header
                    // 2 parâmetro, options: todas as opções referente a esta instancia do datagrid
                    // 3 parâmetro, headerDefault: recebe um booleano, caso você esteja inserindo um html diferente do que existe no ~caption: "NomeDaColuna"~ coloque o parâmetro false, indicando que o header não é default, caso contrário a função irá inserir o caption como nome da coluna por padrão, este parâmetro pode ser opcional.
                    filterRow(container, options);
                },
                cellTemplate: function (container, options) {
                    var dataField = options.column.dataField;
                    var value = options.data[dataField]

                    var valueFormatado = "--"

                    if (parseFloat(value).toString() === "NaN" || parseFloat(value).toString() === "undefined") {
                    } else {
                        valueFormatado = formatDateTime(value, "data")
                    }

                    var tdContent = `<p class="text-center">${valueFormatado}</p>`;
                    container.html(tdContent);

                }
            },
            {
                dataField: "total",
                caption: "Valor",
                dataType: "number",
                visible: true,
                {#width: 150,#}
                headerCellTemplate: function (container, options) {
                    // função filterRow(container, options, headerDefault);
                    // 1 parâmetro, container: elemento HTML referente a este header
                    // 2 parâmetro, options: todas as opções referente a esta instancia do datagrid
                    // 3 parâmetro, headerDefault: recebe um booleano, caso você esteja inserindo um html diferente do que existe no ~caption: "NomeDaColuna"~ coloque o parâmetro false, indicando que o header não é default, caso contrário a função irá inserir o caption como nome da coluna por padrão, este parâmetro pode ser opcional.
                    filterRow(container, options);
                },
                cellTemplate: function (container, options) {
                    var dataField = options.column.dataField;
                    var value = options.data[dataField]

                    var valueFormatado = "--"

                    if (parseFloat(value).toString() === "NaN" || parseFloat(value).toString() === "undefined") {
                    } else {

                        valueFormatado = parseFloat(value).toLocaleString('pt-BR', {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2
                        })
                        valueFormatado = "R$ " + valueFormatado
                    }

                    var tdContent = `<p class="text-center">${valueFormatado}</p>`;
                    container.html(tdContent);

                }
            },
            {
                dataField: "stallmen",
                caption: "Parcela",
                dataType: "number",
                visible: true,
                {#width: 150,#}
                headerCellTemplate: function (container, options) {
                    // função filterRow(container, options, headerDefault);
                    // 1 parâmetro, container: elemento HTML referente a este header
                    // 2 parâmetro, options: todas as opções referente a esta instancia do datagrid
                    // 3 parâmetro, headerDefault: recebe um booleano, caso você esteja inserindo um html diferente do que existe no ~caption: "NomeDaColuna"~ coloque o parâmetro false, indicando que o header não é default, caso contrário a função irá inserir o caption como nome da coluna por padrão, este parâmetro pode ser opcional.
                    filterRow(container, options);
                },
                cellTemplate: function (container, options) {
                    var dataField = options.column.dataField;
                    var value = options.data[dataField]

                    var valueFormatado = "--"

                    if (parseFloat(value).toString() === "NaN" || parseFloat(value).toString() === "undefined") {
                    } else {

                        valueFormatado = parseFloat(value).toLocaleString('pt-BR', {
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2
                        })
                        valueFormatado = "R$ " + valueFormatado
                    }

                    var tdContent = `<p class="text-center">${valueFormatado}</p>`;
                    container.html(tdContent);

                }
            },
            {
                dataField: "description",
                caption: "Descricao",
                dataType: "text",
                visible: true,
                {#width: 300,#}
                headerCellTemplate: function (container, options) {
                    // função filterRow(container, options, headerDefault);
                    // 1 parâmetro, container: elemento HTML referente a este header
                    // 2 parâmetro, options: todas as opções referente a esta instancia do datagrid
                    // 3 parâmetro, headerDefault: recebe um booleano, caso você esteja inserindo um html diferente do que existe no ~caption: "NomeDaColuna"~ coloque o parâmetro false, indicando que o header não é default, caso contrário a função irá inserir o caption como nome da coluna por padrão, este parâmetro pode ser opcional.
                    filterRow(container, options);
                },
                cellTemplate: function (container, options) {
                    var dataField = options.column.dataField;
                    var value = options.data[dataField]

                    var tdContent = `<p class="text-center">${value}</p>`;
                    container.html(tdContent);
                }
            },
            {
                dataField: "nm_category",
                caption: "Categoria",
                dataType: "string",
                visible: true,
                width: 150,
                headerCellTemplate: function (container, options) {
                    // função filterRow(container, options, headerDefault);
                    // 1 parâmetro, container: elemento HTML referente a este header
                    // 2 parâmetro, options: todas as opções referente a esta instancia do datagrid
                    // 3 parâmetro, headerDefault: recebe um booleano, caso você esteja inserindo um html diferente do que existe no ~caption: "NomeDaColuna"~ coloque o parâmetro false, indicando que o header não é default, caso contrário a função irá inserir o caption como nome da coluna por padrão, este parâmetro pode ser opcional.
                    filterRow(container, options);
                },
                cellTemplate: function (container, options) {
                    var dataField = options.column.dataField;
                    var value = options.data[dataField]

                    var tdContent = `<p class="text-center">${value}</p>`;
                    container.html(tdContent);
                }
            },
        ]
    }).dxDataGrid("instance");
</script>