.card.card-app {
    background-color: var(--no-white);
    border-radius:1.5rem;
    color: var(--texto);
}
.card.card-app:hover {
    background-color: var(--white-secondary);
    color: var(--danger-hover);
    cursor:pointer;
}
.card.card-app:active {
    background-color: var(--white-secondary);
    color: var(--danger-hover);
    font-weight: bold;
}
.card.card-app:focus {
    background-color: var(--white-secondary);
    color: var(--danger-hover);
    font-weight: bold;
}

#menu {
    transition: 0.4s;
}

.saiDaTela {
    -ms-transform: translate(100vw,0); /* IE 9 */
    transform: translate(100vw,0); /* Standard syntax */
}

.voltaParaTela {
    -ms-transform: translate(-100vw,0); /* IE 9 */
    transform: translate(-100vw,0); /* Standard syntax */
}



.navbar {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: start;
}

.navbar-brand {
    padding-top: 0.335938rem;
    padding-bottom: 0.335938rem;
    font-size: 1.09375rem;
}

.navbar-brand img {
    width: 100%;
}

.navbar-toggler {
    font-size: 1.09375rem;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link.disabled {
    cursor: default;
}

.navbar-dark .navbar-nav .nav-link.disabled {
    cursor: default;
}

.aside-menu {
    z-index: 1019;
    width: 250px;
}

.aside-menu .nav-tabs .nav-item:first-child .nav-link {
    border-left: 0;
    border-top-left-radius:0;
}

.aside-menu {
    color: var(--texto);
    background: var(--no-white);
    border-left: 1px solid #c8ced3;
}

.aside-menu .nav-tabs {
    border-color: #c8ced3;
    background-color: var(--white-secondary);
}

.aside-menu .nav-tabs .nav-link {
    background-color:var(--white-secondary);
    border-bottom: 1px solid #c8ced3;
    color: #23282c;
}

.aside-menu .tab-content{
    border-top-left-radius:0 !important;
    border-left:0;
}

.aside-menu .nav-tabs .nav-link.active {
    background-color:var(--no-white);
    color: var(--danger-hover);
    border-bottom: 1px solid var(--no-white);
    border-right-color: #c8ced3;
    border-left-color: #c8ced3;
}

.aside-menu .tab-content::-webkit-scrollbar-track {
    background-color: var(--no-white);
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
}

.aside-menu .tab-content::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
}


.aside-menu .tab-content .tab-pane {
    border-top-left-radius:0;
    padding: 0;
}

.app-header .navbar-nav .dropdown-menu {
    position: absolute;
}

.app-header .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
}

.app-header .navbar-nav .dropdown-menu-left {
    right: auto;
    left: 0;
}

.app-footer {
    padding: 0 10px;
    color: #999;
    background-color: var(--no-white);
    border-top: 2px solid var(--danger);
}

.app-header {
    position: relative;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 55px;
    padding: 0;
    margin: 0;
    background-color: var(--no-white);
    border-bottom: 2px solid var(--danger);
}

.app-header .navbar-brand {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 155px;
    height: 55px;
    padding: 0;
    margin-right: 0;
    background-color: transparent;
}

.app-header .navbar-brand .navbar-brand-minimized {
    display: none;
}

.app-header .navbar-toggler {
    min-width: 50px;
    padding: 0.25rem 0;
}

.app-header .navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%232f353a' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.app-header .navbar-toggler-icon {
    height: 23px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2373818f' stroke-width='2.25' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.app-header .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}

.app-header .nav-item {
    position: relative;
    min-width: 50px;
    margin: 0;
    text-align: center;
}

.app-header .nav-item button {
    margin: 0 auto;
}

.app-header .nav-item .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    background: 0;
    border: 0;
}

.app-header .nav-item .nav-link .badge {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: 0;
}

.app-header .nav-item .nav-link > .img-avatar, .app-header .nav-item .avatar.nav-link > img {
    height: 35px;
    margin: 0 10px;
}

.app-header .dropdown-menu {
    padding-bottom: 0;
    line-height: 1;
}

.app-header .dropdown-item {
    min-width: 180px;
}

.navbar-nav .nav-link {
    color: var(--muted);
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    color: var(--texto);
}

.navbar-nav .open > .nav-link, .navbar-nav .open > .nav-link:hover, .navbar-nav .open > .nav-link:focus,
.navbar-nav .active > .nav-link,
.navbar-nav .active > .nav-link:hover,
.navbar-nav .active > .nav-link:focus,
.navbar-nav .nav-link.open,
.navbar-nav .nav-link.open:hover,
.navbar-nav .nav-link.open:focus,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link.active:focus {
    color: var(--texto);
}

.navbar-divider {
    background-color: rgba(0, 0, 0, 0.075);
}

@media (min-width: 992px) {
    .brand-minimized .app-header .navbar-brand {
        background-color: transparent;
    }

    .brand-minimized .app-header .navbar-brand .navbar-brand-full {
        display: none;
    }

    .brand-minimized .app-header .navbar-brand .navbar-brand-minimized {
        display: block;
    }
}

.sidebar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    color: var(--no-white);
    background: var(--no-white);
    box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.04);
    z-index: 10;
}

.sidebar .sidebar-close {
    position: absolute;
    right: 0;
    display: none;
    padding: 0 1rem;
    font-size: 24px;
    font-weight: 800;
    line-height: 55px;
    color: var(--no-white);
    background: 0;
    border: 0;
    opacity: .8;
}

.sidebar .nav {
    overflow: hidden;
}
.sidebar .nav:hover {
    overflow: visible;
}

.sidebar .sidebar-close:hover {
    opacity: 1;
}

.sidebar .sidebar-header {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0.75rem 1rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}

.sidebar .sidebar-form .form-control {
    color: var(--no-white);
    background: #181b1e;
    border: 0;
}

.sidebar .sidebar-form .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .sidebar-form .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .sidebar-form .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .sidebar-form .form-control::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .sidebar-form .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .sidebar-nav {
    position: relative;
    -ms-flex: 1;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: 200px;
    transition: .3s;
}

.sidebar .nav {
    position: fixed;
    width: 200px;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
    transition: .3s;
}

.sidebar .nav-title {
    padding: 0.75rem 1rem;
    font-size: 80%;
    font-weight: 700;
    color: var(--white-secondary-hover);
    text-transform: uppercase;
}

.sidebar .nav-divider {
    height: 10px;
}

.sidebar .nav-item {
    position: relative;
    margin: 0;
}

.sidebar .nav-dropdown-items {
    max-height: 0;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    transition: max-height .3s ease-in-out;
}

.sidebar .nav-dropdown-items:last-child {
    border-bottom-right-radius: 0.25rem;
}

.sidebar .nav-dropdown-items .nav-item {
    padding: 0;
    list-style: none;
}

.sidebar .nav-link {
    display: block;
    padding: 1rem 1rem;
    color: var(--texto) !important;
    text-decoration: none;
    background: var(--no-white);

}



.sidebar-minimized .sidebar .nav-dropdown-items .nav-link {
    box-shadow:-3px 3px 20px rgba(0, 0, 0, 0.06);
    border-right: 1px solid var(--white-secondary-hover) !important;
}

.sidebar-minimized .sidebar .nav-dropdown-items .nav-link:last-child {
    box-shadow:-3px 3px 20px rgba(0, 0, 0, 0.06);
    border-right: 1px solid var(--white-secondary-hover) !important;
    border-bottom: 1px solid  var(--white-secondary-hover) !important;
}

.sidebar .nav-link .nav-icon {
    display: inline-block;
    width: 2.8rem;
    /* margin: 0 0.5rem 0 0; */
    /* font-size: 0.875rem; */
    color: var(--texto);
    text-align: center;
}

.brand-minimized .sidebar .nav-link {
    display:flex;
    align-items:center;
}

.sidebar .nav-link .badge {
    float: right;
    margin-top: 2px;
}

.sidebar .nav-link.active {
    color: var(--texto);
    background: var(--white-secondary-hover);
}

.sidebar .nav-link.active .nav-icon {
    color: var(--danger-hover);
}

.sidebar .nav-link:hover {
    color: var(--danger-hover);
    background: var(--global-bg-color);
}

.sidebar .nav-link:hover .nav-icon {
    color: var(--texto);
}

.sidebar .nav-link.active:hover {
    background: var(--white-secondary-hover) !important;
}
.sidebar .nav-link.active:hover .nav-icon {
    color: var(--danger-hover) !important;
}

.sidebar .nav-link.nav-link-primary {
    background: var(--primary);
}

.sidebar .nav-link.nav-link-primary .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-primary:hover {
    background: var(--primary-hover);
}

.sidebar .nav-link.nav-link-primary:hover i {
    color: var(--no-white);
}

.sidebar .nav-link.nav-link-secondary {
    background: #c8ced3;
}

.sidebar .nav-link.nav-link-secondary .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-secondary:hover {
    background: #bac1c8;
}

.sidebar .nav-link.nav-link-secondary:hover i {
    color: var(--no-white);
}

.sidebar .nav-link.nav-link-success {
    background: #9FC44E;
}

.sidebar .nav-link.nav-link-success .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-success:hover {
    background: #41af67;
}

.sidebar .nav-link.nav-link-success:hover i {
    color: var(--no-white);
}

.sidebar .nav-link.nav-link-info {
    background: #63c2de;
}

.sidebar .nav-link.nav-link-info .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-info:hover {
    background: #4ebada;
}

.sidebar .nav-link.nav-link-info:hover i {
    color: var(--no-white);
}

.sidebar .nav-link.nav-link-warning {
    background: #ffc107;
}

.sidebar .nav-link.nav-link-warning .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-warning:hover {
    background: #edb100;
}

.sidebar .nav-link.nav-link-warning:hover i {
    color: var(--no-white);
}

.sidebar .nav-link.nav-link-danger {
    background: #f86c6b;
}

.sidebar .nav-link.nav-link-danger .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-danger:hover {
    background: #f75453;
}

.sidebar .nav-link.nav-link-danger:hover i {
    color: var(--no-white);
}

.sidebar .nav-link.nav-link-light {
    background: var(--white-secondary);
}

.sidebar .nav-link.nav-link-light .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-light:hover {
    background: #e1e7eb;
}

.sidebar .nav-link.nav-link-light:hover i {
    color: var(--no-white);
}

.sidebar .nav-link.nav-link-dark {
    background: var(--texto);
}

.sidebar .nav-link.nav-link-dark .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-dark:hover {
    background: #24282c;
}

.sidebar .nav-link.nav-link-dark:hover i {
    color: var(--no-white);
}

.sidebar .nav-dropdown-toggle {
    position: relative;
}

.sidebar .nav-dropdown-toggle::before {
    cursor:pointer;
    position: absolute;
    top: 50%;
    right: 1rem;
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    margin-top: -4px;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818f' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.sidebar .nav-dropdown.open {
    background: var(--white-secondary);
    width: 200px;
    overflow-x: hidden;
    transition: width .3s ease-in-out;
}

.sidebar-minimized .nav-dropdown.open {
    background: var(--white-secondary);
    transition: opacity .3s;
}

.sidebar .nav-dropdown.open .nav-link.nav-dropdown-toggle {
    background-color: var(--white-secondary-hover);
}

.sidebar .nav-dropdown.open .nav-link.nav-dropdown-toggle .nav-icon {
    color: var(--danger-hover) !important;
}

.sidebar .nav-dropdown.open .nav-link.nav-dropdown-toggle .nav-icon :hover {
    color: var(--danger-hover) !important;
}

.sidebar .nav-dropdown.open > .nav-dropdown-items {
    max-height: 1500px;
    overflow-x: hidden;
}

.sidebar .nav-dropdown.open .nav-link {
    border-left: 0;
}

.sidebar .nav-dropdown.open > .nav-dropdown-toggle::before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.sidebar .nav-dropdown.open .nav-dropdown.open {
    border-left: 0;
}

.sidebar .nav-label {
    display: block;
    padding: 0.09375rem 1rem;
    color: var(--white-secondary-hover);
}

.sidebar .nav-label:hover {
    color: var(--no-white);
    text-decoration: none;
}

.sidebar .nav-label .nav-icon {
    width: 20px;
    margin: -3px 0.5rem 0 0;
    font-size: 10px;
    color: var(--muted);
    text-align: center;
    vertical-align: middle;
}

.sidebar .progress {
    background-color: #515c64 !important;
}

.sidebar .sidebar-footer {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0.75rem 1rem;
    background: rgba(0, 0, 0, 0.2);
}

.sidebar .sidebar-minimizer {
    position: fixed;
    bottom: 0px;
    -ms-flex: 0 0 50px;
    height: 50px;
    width: 200px;
    flex: 0 0 50px;
    background-color: rgba(38, 42, 46, 1);
    border: 0;
    transition: .3s;
}

.sidebar-minimized .sidebar-minimizer {
    position: fixed;
    bottom: 0px;
    -ms-flex: 0 0 50px;
    height: 50px;
    width: 50px;
    flex: 0 0 50px;
    background-color: rgba(38, 42, 46, 1);
    border: 0;
}


.sidebar .sidebar-minimizer::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818f' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12.5px;
    transition: .3s;
}

.sidebar .sidebar-minimizer:focus, .sidebar .sidebar-minimizer.focus {
    outline: 0;
}

.sidebar .sidebar-minimizer:hover {
    background-color: #262a2e;
}

.sidebar .sidebar-minimizer:hover::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}

@media (min-width: 992px) {
    .sidebar-compact .sidebar .sidebar-nav {
        width: 150px;
    }

    .sidebar-compact .sidebar .nav {
        width: 150px;
    }

    .sidebar-compact .sidebar .d-compact-none {
        display: none;
    }

    .sidebar-compact .sidebar .nav-title {
        text-align: center;
    }

    .sidebar-compact .sidebar .nav-item {
        width: 150px;
        border-left: 0;
    }

    .sidebar-compact .sidebar .nav-link {
        text-align: center;
    }

    .sidebar-compact .sidebar .nav-link .nav-icon {
        display: block;
        width: 100%;
        margin: 0.25rem 0;
        font-size: 24px;
    }

    .sidebar-compact .sidebar .nav-link .badge {
        position: absolute;
        top: 18px;
        right: 10px;
    }

    .sidebar-compact .sidebar .nav-link.nav-dropdown-toggle::before {
        top: 30px;
    }

    .sidebar-minimized .sidebar {
        z-index: 1019;
    }

    .sidebar-minimized .sidebar .sidebar-nav {
        overflow: hidden;
        width: 50px;
    }

    .sidebar-minimized .sidebar .nav {
        width: 50px;
    }

    .sidebar-minimized .sidebar .d-minimized-none,
    .sidebar-minimized .sidebar .nav-divider,
    .sidebar-minimized .sidebar .nav-label,
    .sidebar-minimized .sidebar .nav-title,
    .sidebar-minimized .sidebar .sidebar-footer,
    .sidebar-minimized .sidebar .sidebar-form,
    .sidebar-minimized .sidebar .sidebar-header {
        display: none;
    }

    .sidebar-minimized .sidebar .sidebar-minimizer::before {
        width: 100%;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

    .sidebar-minimized .sidebar .nav-item {
        width: 50px;
        overflow: hidden;
    }

    .sidebar-minimized .sidebar .nav-item:hover {
        width: 250px;
        overflow: visible;
    }

    .sidebar-minimized .sidebar .nav-item:hover > .nav-link {
        box-shadow:-3px 3px 20px rgba(0, 0, 0, 0.06);
        background: var(--white-secondary-hover);
        color: var(--texto);
    }

    .sidebar-minimized .sidebar .nav-item:hover > .nav-link .nav-icon {
        color: var(--texto);
    }

    .sidebar-minimized .sidebar .nav-link {
        position: relative;
        padding-left: 0;
        margin: 0;
        white-space: nowrap;
        border-left: 0;
    }

    .sidebar-minimized .sidebar .nav-link .nav-icon {
        display: block;
        float: left;
        width: 50px;
        font-size: 18px;
    }

    .sidebar-minimized .sidebar .nav-link .badge {
        position: absolute;
        right: 15px;
        display: none;
    }

    .sidebar-minimized .sidebar .nav-link:hover {
        width: 250px;
        background: var(--danger);
    }

    .sidebar-minimized .sidebar .nav-link:hover .badge {
        display: inline;
    }

    .sidebar-minimized .sidebar .nav-link.nav-dropdown-toggle::before {
        display: none;
    }

    .sidebar-minimized .sidebar .nav-dropdown-items .nav-item {
        width: 200px;
    }

    .sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link {
        width: 200px;
    }

    .sidebar-minimized .sidebar .nav > .nav-dropdown > .nav-dropdown-items {
        display: none;
        max-height: 1000px;
        background: var(--no-white);
    }

    .sidebar-minimized .sidebar .nav > .nav-dropdown:hover {
        border-top-right-radius: 0.25rem;
        background: var(--global-bg-color);
    }

    .sidebar-minimized .sidebar .nav > .nav-dropdown:hover > .nav-dropdown-items {
        position: absolute;
        left: 50px;
        display: inline;
    }
}

*[dir="rtl"] .sidebar .nav-dropdown-toggle::before {
    position: absolute;
    right: auto;
    left: 1rem;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

*[dir="rtl"] .sidebar .nav-dropdown.open > .nav-dropdown-toggle::before {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

*[dir="rtl"] .sidebar .nav-link .nav-icon {
    margin: 0 0 0 0.5rem;
}

*[dir="rtl"] .sidebar .nav-link .badge {
    float: left;
    margin-top: 2px;
}

*[dir="rtl"] .sidebar-minimized .sidebar .nav-link {
    padding-right: 0;
}

*[dir="rtl"] .sidebar-minimized .sidebar .nav-link .nav-icon {
    float: right;
    padding: 0;
    margin: 0;
}

*[dir="rtl"] .sidebar-minimized .sidebar .nav-link .badge {
    right: auto;
    left: 15px;
}

*[dir="rtl"] .sidebar-minimized .sidebar .nav-dropdown:hover > .nav-dropdown-items {
    right: 50px;
    left: 0;
}

@media all and (-ms-high-contrast: none) {
    html {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.app,
app-dashboard,
app-root {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

.app-header {
    -ms-flex: 0 0 55px;
    flex: 0 0 55px;
}

.app-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-x: hidden;
}

.header-fixed .app-body {
    margin-top: 55px;
}

.app-body .main {
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}

.app-body .sidebar {
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    -ms-flex-order: -1;
    order: -1;
}

.app-body .aside-menu {
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
}

html:not([dir="rtl"]) .sidebar {
    margin-left: -200px;
}

html:not([dir="rtl"]) .aside-menu {
    margin-right: -250px;
}

html[dir="rtl"] .sidebar {
    margin-right: -200px;
}

html[dir="rtl"] .aside-menu {
    margin-left: -250px;
}

@media (min-width: 992px) {
    .header-fixed .app-header {
        position: fixed;
        z-index: 1020;
        width: 100%;
    }

    .sidebar-fixed .sidebar {
        position: fixed;
        z-index: 1019;
        width: 200px;
        height: 100vh;
    }

    .sidebar-fixed .app-header + .app-body .sidebar {
        height: calc(100vh - 55px);
    }

    .sidebar-compact .sidebar {
        -ms-flex: 0 0 150px;
        flex: 0 0 150px;
    }

    .sidebar-compact.sidebar-fixed .sidebar {
        width: 150px;
    }

    .sidebar-compact .sidebar-minimizer {
        display: none;
    }

    .sidebar-minimized .sidebar {
        -ms-flex: 0 0 50px;
        flex: 0 0 50px;
    }

    .sidebar-minimized.sidebar-fixed .sidebar {
        width: 50px;
    }

    .sidebar-off-canvas .sidebar {
        position: fixed;
        z-index: 1019;
        height: 100%;
    }

    .sidebar-off-canvas .app-header + .app-body .sidebar {
        height: calc(100vh - 55px);
    }

    html:not([dir="rtl"]) .sidebar-compact .sidebar {
        margin-left: -150px;
    }

    html:not([dir="rtl"]) .sidebar-minimized .sidebar {
        margin-left: -50px;
    }

    html[dir="rtl"] .sidebar-compact .sidebar {
        margin-right: -150px;
    }

    html[dir="rtl"] .sidebar-minimized .sidebar {
        margin-right: -50px;
    }

    .aside-menu-fixed .aside-menu {
        position: fixed;
        height: 100%;
    }

    .aside-menu-fixed .aside-menu .tab-content {
        height: calc(100vh - 2.375rem - 55px);
    }

    .aside-menu-fixed .app-header + .app-body .aside-menu {
        height: calc(100vh - 55px);
    }

    .aside-menu-off-canvas .aside-menu {
        position: fixed;
        z-index: 1019;
        height: 100%;
    }

    .aside-menu-off-canvas .app-header + .app-body .aside-menu {
        height: calc(100vh - 55px);
    }

    html:not([dir="rtl"]) .aside-menu-fixed .aside-menu,
    html:not([dir="rtl"]) .aside-menu-off-canvas .aside-menu {
        right: 0;
    }

    html[dir="rtl"] .aside-menu-fixed .aside-menu,
    html[dir="rtl"] .aside-menu-off-canvas .aside-menu {
        left: 0;
    }
}



html:not([dir="rtl"]) .sidebar-show .sidebar {
    margin-left: 0;
}

@media (min-width: 576px) {
    html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
    html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
        margin-left: 200px;
    }

    html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .main,
    html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-left: 150px;
    }

    html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .main,
    html:not([dir="rtl"]) .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-left: 50px;
    }

    html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed .breadcrumb {
        left: 200px;
    }

    html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        left: 150px;
    }

    html:not([dir="rtl"]) .sidebar-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        left: 50px;
    }
}

html:not([dir="rtl"]) .aside-menu-show .aside-menu {
    margin-right: 0;
}

@media (min-width: 576px) {
    html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .main,
    html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .app-footer {
        margin-right: 250px;
    }

    html:not([dir="rtl"]) .aside-menu-show.breadcrumb-fixed .breadcrumb {
        right: 250px;
    }
}

html[dir="rtl"] .sidebar-show .sidebar {
    margin-right: 0;
}

@media (min-width: 576px) {
    html[dir="rtl"] .sidebar-show.sidebar-fixed .main,
    html[dir="rtl"] .sidebar-show.sidebar-fixed .app-footer {
        margin-right: 200px;
    }

    html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .main,
    html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-right: 150px;
    }

    html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .main,
    html[dir="rtl"] .sidebar-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-right: 50px;
    }

    html[dir="rtl"] .sidebar-show.breadcrumb-fixed .breadcrumb {
        right: 200px;
    }

    html[dir="rtl"] .sidebar-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        right: 150px;
    }

    html[dir="rtl"] .sidebar-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        right: 50px;
    }
}

html[dir="rtl"] .aside-menu-show .aside-menu {
    margin-left: 0;
}

@media (min-width: 576px) {
    html[dir="rtl"] .aside-menu-show.aside-menu-fixed .main,
    html[dir="rtl"] .aside-menu-show.aside-menu-fixed .app-footer {
        margin-left: 250px;
    }

    html[dir="rtl"] .aside-menu-show.breadcrumb-fixed .breadcrumb {
        left: 250px;
    }
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 575.98px) {
    .sidebar-show .main,
    .aside-menu-show .main {
        position: relative;
    }

    .sidebar-show .main::before,
    .aside-menu-show .main::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.7);
        -webkit-animation: opacity 0.25s;
        animation: opacity 0.25s;
    }
}

@media (min-width: 576px) {
    html:not([dir="rtl"]) .sidebar-sm-show .sidebar {
        margin-left: 0;
    }
}

@media (min-width: 576px) and (min-width: 576px) {
    html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed .main,
    html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed .app-footer {
        margin-left: 200px;
    }

    html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed.sidebar-compact .main,
    html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-left: 150px;
    }

    html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed.sidebar-minimized .main,
    html:not([dir="rtl"]) .sidebar-sm-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-left: 50px;
    }

    html:not([dir="rtl"]) .sidebar-sm-show.breadcrumb-fixed .breadcrumb {
        left: 200px;
    }

    html:not([dir="rtl"]) .sidebar-sm-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        left: 150px;
    }

    html:not([dir="rtl"]) .sidebar-sm-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        left: 50px;
    }
}

@media (min-width: 576px) {
    html:not([dir="rtl"]) .aside-menu-sm-show .aside-menu {
        margin-right: 0;
    }
}

@media (min-width: 576px) and (min-width: 576px) {
    html:not([dir="rtl"]) .aside-menu-sm-show.aside-menu-fixed .main,
    html:not([dir="rtl"]) .aside-menu-sm-show.aside-menu-fixed .app-footer {
        margin-right: 250px;
    }

    html:not([dir="rtl"]) .aside-menu-sm-show.breadcrumb-fixed .breadcrumb {
        right: 250px;
    }
}

@media (min-width: 576px) {
    html[dir="rtl"] .sidebar-sm-show .sidebar {
        margin-right: 0;
    }
}

@media (min-width: 576px) and (min-width: 576px) {
    html[dir="rtl"] .sidebar-sm-show.sidebar-fixed .main,
    html[dir="rtl"] .sidebar-sm-show.sidebar-fixed .app-footer {
        margin-right: 200px;
    }

    html[dir="rtl"] .sidebar-sm-show.sidebar-fixed.sidebar-compact .main,
    html[dir="rtl"] .sidebar-sm-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-right: 150px;
    }

    html[dir="rtl"] .sidebar-sm-show.sidebar-fixed.sidebar-minimized .main,
    html[dir="rtl"] .sidebar-sm-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-right: 50px;
    }

    html[dir="rtl"] .sidebar-sm-show.breadcrumb-fixed .breadcrumb {
        right: 200px;
    }

    html[dir="rtl"] .sidebar-sm-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        right: 150px;
    }

    html[dir="rtl"] .sidebar-sm-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        right: 50px;
    }
}

@media (min-width: 576px) {
    html[dir="rtl"] .aside-menu-sm-show .aside-menu {
        margin-left: 0;
    }
}

@media (min-width: 576px) and (min-width: 576px) {
    html[dir="rtl"] .aside-menu-sm-show.aside-menu-fixed .main,
    html[dir="rtl"] .aside-menu-sm-show.aside-menu-fixed .app-footer {
        margin-left: 250px;
    }

    html[dir="rtl"] .aside-menu-sm-show.breadcrumb-fixed .breadcrumb {
        left: 250px;
    }
}

@media (min-width: 576px) {
    @-webkit-keyframes opacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes opacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@media (min-width: 576px) and (max-width: 575.98px) {
    .sidebar-sm-show .main,
    .aside-menu-sm-show .main {
        position: relative;
    }

    .sidebar-sm-show .main::before,
    .aside-menu-sm-show .main::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1018;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.7);
        -webkit-animation: opacity 0.25s;
        animation: opacity 0.25s;
    }
}

@media (min-width: 768px) {
    html:not([dir="rtl"]) .sidebar-md-show .sidebar {
        margin-left: 0;
    }
}

@media (min-width: 768px) and (min-width: 576px) {
    html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed .main,
    html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed .app-footer {
        margin-left: 200px;
    }

    html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed.sidebar-compact .main,
    html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-left: 150px;
    }

    html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed.sidebar-minimized .main,
    html:not([dir="rtl"]) .sidebar-md-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-left: 50px;
    }

    html:not([dir="rtl"]) .sidebar-md-show.breadcrumb-fixed .breadcrumb {
        left: 200px;
    }

    html:not([dir="rtl"]) .sidebar-md-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        left: 150px;
    }

    html:not([dir="rtl"]) .sidebar-md-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        left: 50px;
    }
}

@media (min-width: 768px) {
    html:not([dir="rtl"]) .aside-menu-md-show .aside-menu {
        margin-right: 0;
    }
}

@media (min-width: 768px) and (min-width: 576px) {
    html:not([dir="rtl"]) .aside-menu-md-show.aside-menu-fixed .main,
    html:not([dir="rtl"]) .aside-menu-md-show.aside-menu-fixed .app-footer {
        margin-right: 250px;
    }

    html:not([dir="rtl"]) .aside-menu-md-show.breadcrumb-fixed .breadcrumb {
        right: 250px;
    }
}

@media (min-width: 768px) {
    html[dir="rtl"] .sidebar-md-show .sidebar {
        margin-right: 0;
    }
}

@media (min-width: 768px) and (min-width: 576px) {
    html[dir="rtl"] .sidebar-md-show.sidebar-fixed .main,
    html[dir="rtl"] .sidebar-md-show.sidebar-fixed .app-footer {
        margin-right: 200px;
    }

    html[dir="rtl"] .sidebar-md-show.sidebar-fixed.sidebar-compact .main,
    html[dir="rtl"] .sidebar-md-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-right: 150px;
    }

    html[dir="rtl"] .sidebar-md-show.sidebar-fixed.sidebar-minimized .main,
    html[dir="rtl"] .sidebar-md-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-right: 50px;
    }

    html[dir="rtl"] .sidebar-md-show.breadcrumb-fixed .breadcrumb {
        right: 200px;
    }

    html[dir="rtl"] .sidebar-md-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        right: 150px;
    }

    html[dir="rtl"] .sidebar-md-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        right: 50px;
    }
}

@media (min-width: 768px) {
    html[dir="rtl"] .aside-menu-md-show .aside-menu {
        margin-left: 0;
    }
}

@media (min-width: 768px) and (min-width: 576px) {
    html[dir="rtl"] .aside-menu-md-show.aside-menu-fixed .main,
    html[dir="rtl"] .aside-menu-md-show.aside-menu-fixed .app-footer {
        margin-left: 250px;
    }

    html[dir="rtl"] .aside-menu-md-show.breadcrumb-fixed .breadcrumb {
        left: 250px;
    }
}

@media (min-width: 768px) {
    @-webkit-keyframes opacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes opacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@media (min-width: 768px) and (max-width: 575.98px) {
    .sidebar-md-show .main,
    .aside-menu-md-show .main {
        position: relative;
    }

    .sidebar-md-show .main::before,
    .aside-menu-md-show .main::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1018;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.7);
        -webkit-animation: opacity 0.25s;
        animation: opacity 0.25s;
    }
}

@media (min-width: 992px) {
    html:not([dir="rtl"]) .sidebar-lg-show .sidebar {
        margin-left: 0;
    }
}

@media (min-width: 992px) and (min-width: 576px) {
    html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main,
    html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer {
        margin-left: 200px;
    }

    html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-compact .main,
    html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-left: 150px;
    }

    html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main,
    html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-left: 50px;
    }

    html:not([dir="rtl"]) .sidebar-lg-show.breadcrumb-fixed .breadcrumb {
        left: 200px;
    }

    html:not([dir="rtl"]) .sidebar-lg-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        left: 150px;
    }

    html:not([dir="rtl"]) .sidebar-lg-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        left: 50px;
    }
}

@media (min-width: 992px) {
    html:not([dir="rtl"]) .aside-menu-lg-show .aside-menu {
        margin-right: 0;
    }
}

@media (min-width: 992px) and (min-width: 576px) {
    html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .main,
    html:not([dir="rtl"]) .aside-menu-lg-show.aside-menu-fixed .app-footer {
        margin-right: 250px;
    }

    html:not([dir="rtl"]) .aside-menu-lg-show.breadcrumb-fixed .breadcrumb {
        right: 250px;
    }
}

@media (min-width: 992px) {
    html[dir="rtl"] .sidebar-lg-show .sidebar {
        margin-right: 0;
    }
}

@media (min-width: 992px) and (min-width: 576px) {
    html[dir="rtl"] .sidebar-lg-show.sidebar-fixed .main,
    html[dir="rtl"] .sidebar-lg-show.sidebar-fixed .app-footer {
        margin-right: 200px;
    }

    html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-compact .main,
    html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-right: 150px;
    }

    html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main,
    html[dir="rtl"] .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-right: 50px;
    }

    html[dir="rtl"] .sidebar-lg-show.breadcrumb-fixed .breadcrumb {
        right: 200px;
    }

    html[dir="rtl"] .sidebar-lg-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        right: 150px;
    }

    html[dir="rtl"] .sidebar-lg-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        right: 50px;
    }
}

@media (min-width: 992px) {
    html[dir="rtl"] .aside-menu-lg-show .aside-menu {
        margin-left: 0;
    }
}

@media (min-width: 992px) and (min-width: 576px) {
    html[dir="rtl"] .aside-menu-lg-show.aside-menu-fixed .main,
    html[dir="rtl"] .aside-menu-lg-show.aside-menu-fixed .app-footer {
        margin-left: 250px;
    }

    html[dir="rtl"] .aside-menu-lg-show.breadcrumb-fixed .breadcrumb {
        left: 250px;
    }
}

@media (min-width: 992px) {
    @-webkit-keyframes opacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes opacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@media (min-width: 992px) and (max-width: 575.98px) {
    .sidebar-lg-show .main,
    .aside-menu-lg-show .main {
        position: relative;
    }

    .sidebar-lg-show .main::before,
    .aside-menu-lg-show .main::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1018;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.7);
        -webkit-animation: opacity 0.25s;
        animation: opacity 0.25s;
    }
}

@media (min-width: 1200px) {
    html:not([dir="rtl"]) .sidebar-xl-show .sidebar {
        margin-left: 0;
    }
}

@media (min-width: 1200px) and (min-width: 576px) {
    html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed .main,
    html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed .app-footer {
        margin-left: 200px;
    }

    html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed.sidebar-compact .main,
    html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-left: 150px;
    }

    html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed.sidebar-minimized .main,
    html:not([dir="rtl"]) .sidebar-xl-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-left: 50px;
    }

    html:not([dir="rtl"]) .sidebar-xl-show.breadcrumb-fixed .breadcrumb {
        left: 200px;
    }

    html:not([dir="rtl"]) .sidebar-xl-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        left: 150px;
    }

    html:not([dir="rtl"]) .sidebar-xl-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        left: 50px;
    }
}

@media (min-width: 1200px) {
    html:not([dir="rtl"]) .aside-menu-xl-show .aside-menu {
        margin-right: 0;
    }
}

@media (min-width: 1200px) and (min-width: 576px) {
    html:not([dir="rtl"]) .aside-menu-xl-show.aside-menu-fixed .main,
    html:not([dir="rtl"]) .aside-menu-xl-show.aside-menu-fixed .app-footer {
        margin-right: 250px;
    }

    html:not([dir="rtl"]) .aside-menu-xl-show.breadcrumb-fixed .breadcrumb {
        right: 250px;
    }
}

@media (min-width: 1200px) {
    html[dir="rtl"] .sidebar-xl-show .sidebar {
        margin-right: 0;
    }
}

@media (min-width: 1200px) and (min-width: 576px) {
    html[dir="rtl"] .sidebar-xl-show.sidebar-fixed .main,
    html[dir="rtl"] .sidebar-xl-show.sidebar-fixed .app-footer {
        margin-right: 200px;
    }

    html[dir="rtl"] .sidebar-xl-show.sidebar-fixed.sidebar-compact .main,
    html[dir="rtl"] .sidebar-xl-show.sidebar-fixed.sidebar-compact .app-footer {
        margin-right: 150px;
    }

    html[dir="rtl"] .sidebar-xl-show.sidebar-fixed.sidebar-minimized .main,
    html[dir="rtl"] .sidebar-xl-show.sidebar-fixed.sidebar-minimized .app-footer {
        margin-right: 50px;
    }

    html[dir="rtl"] .sidebar-xl-show.breadcrumb-fixed .breadcrumb {
        right: 200px;
    }

    html[dir="rtl"] .sidebar-xl-show.breadcrumb-fixed.sidebar-compact .breadcrumb {
        right: 150px;
    }

    html[dir="rtl"] .sidebar-xl-show.breadcrumb-fixed.sidebar-minimized .breadcrumb {
        right: 50px;
    }
}

@media (min-width: 1200px) {
    html[dir="rtl"] .aside-menu-xl-show .aside-menu {
        margin-left: 0;
    }
}

@media (min-width: 1200px) and (min-width: 576px) {
    html[dir="rtl"] .aside-menu-xl-show.aside-menu-fixed .main,
    html[dir="rtl"] .aside-menu-xl-show.aside-menu-fixed .app-footer {
        margin-left: 250px;
    }

    html[dir="rtl"] .aside-menu-xl-show.breadcrumb-fixed .breadcrumb {
        left: 250px;
    }
}

@media (min-width: 1200px) {
    @-webkit-keyframes opacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes opacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@media (min-width: 1200px) and (max-width: 575.98px) {
    .sidebar-xl-show .main,
    .aside-menu-xl-show .main {
        position: relative
    }

    .sidebar-xl-show .main::before,
    .aside-menu-xl-show .main::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1018;
        width: 100%;
        height: 100%;
        content: "";
        background: rgba(0, 0, 0, 0.7);
        -webkit-animation: opacity 0.25s;
        animation: opacity 0.25s;
    }
}

.footer-fixed .app-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1020;
    height: 50px;
}

.footer-fixed .app-body {
    margin-bottom: 50px;
}

.app-header,
.app-footer,
.sidebar,
.main,
.aside-menu {
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s, -ms-flex 0.25s;
}

.sidebar-nav {
    transition: width 0.25s;
}

@media (max-width: 991.98px) {
    .app-header {
        position: fixed;
        z-index: 1020;
        width: 100%;
        text-align: center;
        background-color: var(--no-white);
    }


    .app-header .navbar-toggler {
        color: var(--no-white);
    }

    .app-header .navbar-brand {
        position: absolute;
        left: 40%;
        margin-left: -77.5px;
    }

    .app-header .navbar-brand{
        position:relative;
        margin-left: 0;
        left:0
    }
    .app-body {
        margin-top: 55px;
    }

    .sidebar {
        position: fixed;
        z-index: 1019;
        width: 200px;
        height: calc(100vh - 55px);
    }

    .sidebar-minimizer {
        display: none;
    }

    .aside-menu {
        position: fixed;
        right: 0;
        height: 100%;
    }

    .comboboxes-dashboards {
        margin-top: 120px !important;
    }

    .comboboxes-dashboards-sem-banner {
        margin-top: 20px !important;
    }

}

.dropdown-menu {
    box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.10);
    top: 90%;
}
.dropdown-menu-right {
    right:15px;
}

.dropdown-menu .nav-link:hover {
    border-radius:4px;
    background-color: var(--light);
}
.c-sidebar .c-sidebar-nav-link:hover {
    background: var(--white-secondary-hover);
    color: var(--texto);
}
.c-sidebar .c-sidebar-nav-link:hover .c-sidebar-nav-icon {
    color: var(--texto);
}
.c-sidebar .c-sidebar-nav-link.c-active{
    color: var(--danger-hover);
}
.c-sidebar .c-sidebar-nav-link.c-active .c-sidebar-nav-icon{
    color: var(--danger-hover);
}
.c-sidebar .c-sidebar-nav-link{
    color: var(--texto);
}
.c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon{
    color: var(--texto);
}
.c-sidebar-nav-title{
    color: var(--texto) !important;
}
.c-sidebar-nav-item .c-sidebar-nav-link{
    color: var(--texto)!important;
}
.c-sidebar-nav-dropdown-toggle{
    color:var(--texto);
}
.c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon{
    color:var(--texto);
}
.c-sidebar{
    margin-top: 55px !important;
}
.c-sidebar .c-sidebar-nav-dropdown{
    background: none !important;
}
@media (hover: hover), not all{
    .c-sidebar .c-sidebar-nav-dropdown-toggle:hover{
        background: var(--white-secondary-hover);
    }
    .c-sidebar .c-sidebar-nav-dropdown-toggle:hover .c-sidebar-nav-icon{
        color:var(--texto);
    }
}
.c-sidebar .c-sidebar-nav-dropdown .c-sidebar-nav-dropdown-toggle{
    color: var(--texto) !important;
}
.c-sidebar-nav-dropdown-toggle::after{
    color: var(--texto) !important;
}
.c-sidebar-nav-dropdown.c-show{
    background: var(--white-secondary-hover) !important;
}
.c-sidebar-nav-dropdown.c-show  .c-sidebar-nav-dropdown-items{
    background: var(--white-secondary-hover)!important;
}
.c-sidebar .c-sidebar-nav-link:hover.c-sidebar-nav-dropdown-toggle::after, .c-sidebar :hover.c-sidebar-nav-dropdown-toggle::after {
    background-image: url("../img/icons/icon_seta.svg");
}
.nav-text{
    position: relative;
}
.nav-text::after{
    content:"";
    position: absolute;
    width: 0;
    height: 2px;
    transition: all .4s;
    background: var(--danger);
    bottom: 0;
    left: 0;
}
.c-sidebar-nav-link:hover .nav-text::after, .c-sidebar-nav-dropdown-toggle:hover .nav-text::after{
    width: 80%;
}
