{% extends 'finance/base.html' %}

{% load static %}
{% load humanize %}

{% block titulo %}
    Financeiro
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex flex-wrap justify-content-between">
                    <div class="col-6">
                        {#                        <img src="{% static 'img/icon_graph01.svg' %}" alt="Graph icon" width="25">#}
                        Evolução das despesas
                    </div>
                    <div class="col-2"></div>
                </div><!-- .card-header -->
                <div class="card-body">
                    <div id="chart_expenses_evolution_finance" class="container"></div>
                </div><!-- .card-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header d-flex flex-wrap justify-content-between">
                    <div class="col-6">
                        {#                        <img src="{% static 'img/icon_graph01.svg' %}" alt="Graph icon" width="25">#}
                        Despesas Fixas
                    </div>
                    <div class="col-2"></div>
                </div><!-- .card-header -->
                <div class="card-body">
                    <div id="chart_fixed_expenses_finance" class="container"></div>
                </div><!-- .card-body -->
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header d-flex flex-wrap justify-content-between">
                    <div class="col-6">
                        {#                        <img src="{% static 'img/icon_graph01.svg' %}" alt="Graph icon" width="25">#}
                        Despesas Fixas
                    </div>
                    <div class="col-2"></div>
                </div><!-- .card-header -->
                <div class="card-body">
                    <div id="" class="container"></div>
                </div><!-- .card-body -->
            </div>
        </div>
    </div>

    <!-- Row de transações no mês -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex flex-wrap justify-content-between">
                    <div class="col-6">
                        {#                        <img src="{% static 'img/icon_graph01.svg' %}" alt="Graph icon" width="25">#}
                        Faturas
                    </div>
                    <div class="col-2"></div>
                    <div class="col-2">
                        <select id="combo_cartoes_fatura" onchange="get_bills();">
                        </select>
                    </div>
                    <div class="col-2">
                        <select id="combo_referencia_fatura" onchange="get_bills();">
                        </select>
                    </div>
                </div><!-- .card-header -->
                <div class="card-body">
                    <div id="tabela_fatura_credito" class="w-100"></div>
                </div><!-- .card-body -->
            </div>
        </div>
    </div>

    <!-- Row de transações no mês -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex flex-wrap justify-content-between">
                    <div class="col-6">
                        {#                        <img src="{% static 'img/icon_graph01.svg' %}" alt="Graph icon" width="25">#}
                        Extratos
                    </div>
                    <div class="col-2"></div>
                    <div class="col-2">
                        <select id="combo_conta_extrato" onchange="get_statement();">
                        </select>
                    </div>
                    <div class="col-2">
                        <select id="combo_referencia_extrato" onchange="get_statement();">
                        </select>
                    </div>
                </div><!-- .card-header -->
                <div class="card-body">
                    <div id="tabela_extrato_bancario" class="w-100"></div>
                </div><!-- .card-body -->
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {#    {% include 'finance/modals/creditcard_bill.html' %}#}
    {% include 'finance/modals/creditcard_bill_beta.html' %}
    {% include 'finance/modals/bank_statement.html' %}
{% endblock %}

{% block js %}
    <!-- Importação do arquivo com as funções JS -->
    {% include 'finance/scripts/financeiro.html' %} <!-- May be deprecated -->
    {% include 'finance/scripts/creditcard.html' %}

    <!-- Inicialização da tabela -->
    <script>
    {#DevExpress.localization.locale(navigator.language);#}
        let dados_tabela_extrato_bancario = new DevExpress.data.DataSource({
            store: {
                type: 'array',
                key: "id",
                data: [],
            }
        });


        <!-- Inicialização da tabela de extrato de investimentos -->
        let dados_tabela_extrato_investimento = new DevExpress.data.DataSource({
            store: {
                type: 'array',
                key: "id",
                data: [],
            }
        });


        let dados_tabela_faturas_credito = new DevExpress.data.DataSource({
            store: {
                type: 'array',
                key: "id",
                data: [],
            }
        });

        let data_chart_pie_fixed_expenses_finance = new DevExpress.data.DataSource({});
        let data_chart_line_expenses_evolution_finance = new DevExpress.data.DataSource({});
    </script>
    {% include 'finance/tables/extrato_bancario.html' %}
    {% include 'finance/tables/extrato_investimento.html' %}
    {% include 'finance/tables/fatura_credito.html' %}
    {% include 'finance/charts/fixed_expenses.html' %}
    {% include 'finance/charts/evolution_expenses.html' %}

    <script>
        $(document).ready(function () {

            $(".data").datepicker('setDate', 'today');

            $(".currency").maskMoney({
                    thousands: '',
                    decimal: '.',
                    allowZero: true,
                    prefix: 'R$ ',
                    allowEmpty: false,
                    allowNegative: true,
                    selectAllOnFocus: true
                }
            );
        });

        $("#add_fatura_valor").maskMoney('mask');

        getPeriods();
        get_bank_account();
        get_creditcard();
        get_fixed_expenses_chart();
        get_expenses_evolution_chart();
    </script>

    <script>
    var lista = [{
            country: 'USA',
            hydro: 59.8,
            oil: 937.6,
            gas: 582,
            coal: 564.3,
            nuclear: 187.9,
        }, {
            country: 'China',
            hydro: 74.2,
            oil: 308.6,
            gas: 35.1,
            coal: 956.9,
            nuclear: 11.3,
        }, {
            country: 'Russia',
            hydro: 40,
            oil: 128.5,
            gas: 361.8,
            coal: 105,
            nuclear: 32.4,
        }, {
            country: 'Japan',
            hydro: 22.6,
            oil: 241.5,
            gas: 64.9,
            coal: 120.8,
            nuclear: 64.8,
        }, {
            country: 'India',
            hydro: 19,
            oil: 119.3,
            gas: 28.9,
            coal: 204.8,
            nuclear: 3.8,
        }, {
            country: 'Germany',
            hydro: 6.1,
            oil: 123.6,
            gas: 77.3,
            coal: 85.7,
            nuclear: 37.8,
        }];
        chart_line_expenses_evolution_finance.dxChart("option", "dataSource", lista);
    </script>

{% endblock %}