{% extends 'finance/base.html' %}

{% load static %}
{% load humanize %}

{% block titulo %}
    Financeiro
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex flex-wrap justify-content-between">
                    <div class="col-6">
                        {#                        <img src="{% static 'img/icon_graph01.svg' %}" alt="Graph icon" width="25">#}
                        Evolução
                    </div>
                    <div class="col-2"><a onclick="">Clique aqui</a></div>
                </div><!-- .card-header -->
                <div class="card-body">
                    <div id="pie_test" class="container"></div>
                </div><!-- .card-body -->
            </div>
        </div>
    </div>

    <!-- Row de transações no mês -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex flex-wrap justify-content-between">
                    <div class="col-6">
                        {#                        <img src="{% static 'img/icon_graph01.svg' %}" alt="Graph icon" width="25">#}
                        Faturas
                    </div>
                    <div class="col-2"></div>
                    <div class="col-2">
                        <select id="combo_cartoes_fatura" onchange="get_bills();">
                        </select>
                    </div>
                    <div class="col-2">
                        <select id="combo_referencia_fatura" onchange="get_bills();">
                        </select>
                    </div>
                </div><!-- .card-header -->
                <div class="card-body">
                    <div id="tabela_fatura_credito" class="w-100"></div>
                </div><!-- .card-body -->
            </div>
        </div>
    </div>

    <!-- Row de transações no mês -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex flex-wrap justify-content-between">
                    <div class="col-6">
                        {#                        <img src="{% static 'img/icon_graph01.svg' %}" alt="Graph icon" width="25">#}
                        Extratos
                    </div>
                    <div class="col-2"></div>
                    <div class="col-2">
                        <select id="combo_conta_extrato" onchange="get_statement();">
                        </select>
                    </div>
                    <div class="col-2">
                        <select id="combo_referencia_extrato" onchange="get_statement();">
                        </select>
                    </div>
                </div><!-- .card-header -->
                <div class="card-body">
                    <div id="tabela_extrato_bancario" class="w-100"></div>
                </div><!-- .card-body -->
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {#    {% include 'finance/modals/creditcard_bill.html' %}#}
    {% include 'finance/modals/creditcard_bill_beta.html' %}
    {% include 'finance/modals/bank_statement.html' %}
{% endblock %}

{% block js %}
    <!-- Importação do arquivo com as funções JS -->
    {% include 'finance/scripts/financeiro.html' %} <!-- May be deprecated -->
    {% include 'finance/scripts/creditcard.html' %}

    <!-- Inicialização da tabela -->
    <script>
        let dados_tabela_extrato_bancario = new DevExpress.data.DataSource({
            store: {
                type: 'array',
                key: "id",
                data: [],
            }
        });


        <!-- Inicialização da tabela de extrato de investimentos -->
        let dados_tabela_extrato_investimento = new DevExpress.data.DataSource({
            store: {
                type: 'array',
                key: "id",
                data: [],
            }
        });


        let dados_tabela_faturas_credito = new DevExpress.data.DataSource({
            store: {
                type: 'array',
                key: "id",
                data: [],
            }
        });
    </script>
    {% include 'finance/tables/extrato_bancario.html' %}
    {% include 'finance/tables/extrato_investimento.html' %}
    {% include 'finance/tables/fatura_credito.html' %}
    {% include 'finance/charts/category.html' %}

    <script>
        $(document).ready(function () {

            $(".data").datepicker('setDate', 'today');

            $(".currency").maskMoney({
                    thousands: '',
                    decimal: '.',
                    allowZero: true,
                    prefix: 'R$ ',
                    allowEmpty: false,
                    allowNegative: true,
                    selectAllOnFocus: true
                }
            );
        });

        $("#add_fatura_valor").maskMoney('mask');

        getPeriods();
        get_bank_account();
        get_creditcard();
        get_fixed_expenses_chart();

    </script>

    <script>
        {#let data_chart_test = new DevExpress.data.DataSource({});#}
        {#const data_chart_test = []#}

        <!-- Inicialização da tabela de extrato de investimentos -->
        let data_pie_category = new DevExpress.data.DataSource({});
        {#data_pie_category = [{#}
        {#    country: 'Russia',#}
        {#    area: 12,#}
        {#}, {#}
        {#    country: 'Canada',#}
        {#    area: 7,#}
        {#}, {#}
        {#    country: 'USA',#}
        {#    area: 7,#}
        {#}, {#}
        {#    country: 'China',#}
        {#    area: 7,#}
        {#}, {#}
        {#    country: 'Brazil',#}
        {#    area: 6,#}
        {#}, {#}
        {#    country: 'Australia',#}
        {#    area: 5,#}
        {#}, {#}
        {#    country: 'India',#}
        {#    area: 2,#}
        {#}, {#}
        {#    country: 'Others',#}
        {#    area: 55,#}
        {#}];#}


        {#function teste() {#}
        {#    nova_lista = [{#}
        {#        state: 'Germany',#}
        {#        maleyoung: 6.679,#}
        {#        malemiddle: 28.638,#}
        {#        maleolder: 5.133,#}
        {#        femaleyoung: 6.333,#}
        {#        femalemiddle: 27.693,#}
        {#        femaleolder: 8.318,#}
        {#    }, {#}
        {#        state: 'United Kindom',#}
        {#        maleyoung: 5.816,#}
        {#        malemiddle: 19.622,#}
        {#        maleolder: 3.864,#}
        {#        femaleyoung: 5.519,#}
        {#        femalemiddle: 19.228,#}
        {#        femaleolder: 5.459,#}
        {#    }]#}
        {##}
        {#    chart_teste.dxChart("option", "dataSource", nova_lista)#}
        {# }#}

    </script>


{% endblock %}