{% extends 'finance/base.html' %}

{% block titulo %}
    Adm financeiro
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex flex-wrap justify-content-between">
                    <div class="col-6">
                        {#                        <img src="{% static 'img/icon_graph01.svg' %}" alt="Graph icon" width="25">#}
                        Aplicações financeiras
                    </div>
                </div><!-- .card-header -->
                <div class="card-body">
                    <div id="table_investment_finance" class="w-100"></div>
                </div><!-- .card-body -->
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex flex-wrap justify-content-between">
                    <div class="col-6">
                        {#                        <img src="{% static 'img/icon_graph01.svg' %}" alt="Graph icon" width="25">#}
                        Cartões de crédito
                    </div>
                </div><!-- .card-header -->
                <div class="card-body">
                    <div id="table_credit_card_finance" class="w-100"></div>
                </div><!-- .card-body -->
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex flex-wrap justify-content-between">
                    <div class="col-6">
                        {#                        <img src="{% static 'img/icon_graph01.svg' %}" alt="Graph icon" width="25">#}
                        Contas bancárias
                    </div>
                </div><!-- .card-header -->
                <div class="card-body">
                    <div id="table_bank_account_finance" class="w-100"></div>
                </div><!-- .card-body -->
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex flex-wrap justify-content-between">
                    <div class="col-6">
                        {#                        <img src="{% static 'img/icon_graph01.svg' %}" alt="Graph icon" width="25">#}
                        Categorias
                    </div>
                </div><!-- .card-header -->
                <div class="card-body">
                    <div id="table_category_finance" class="w-100"></div>
                </div><!-- .card-body -->
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% include 'finance/modals/investment.html' %}
    <!-- It is used core/modal becouse every category are the same, only change the module -->
    {% include 'core/modals/category.html' %}
{% endblock %}

{% block js %}
    <!-- Import the scripts from this module only -->
    {% include 'finance/scripts/finance.html' %}
    {% include 'finance/scripts/credit_card.html' %}
    {% include 'finance/scripts/bank_statement.html' %}
    {% include 'finance/scripts/investment.html' %}

    <!-- Inicialização da tabela -->
    <script>
        let data_table_credit_card_finance = new DevExpress.data.DataSource({
            store: {
                type: 'array',
                key: "id",
                data: [],
            }
        });


        <!-- Inicialização da tabela de extrato de investimentos -->
        let data_table_bank_account_finance = new DevExpress.data.DataSource({
            store: {
                type: 'array',
                key: "id",
                data: [],
            }
        });

        let data_table_investment_finance = new DevExpress.data.DataSource({
            store: {
                type: 'array',
                key: "id",
                data: [],
            }
        });

        let data_table_category_finance = new DevExpress.data.DataSource({
            store: {
                type: 'array',
                key: "id",
                data: [],
            }
        });
    </script>
    {% include 'finance/tables/credit_card.html' %}
    {% include 'finance/tables/bank_account.html' %}
    {% include 'finance/tables/investiment.html' %}
    {% include 'finance/tables/category.html' %}

    <script>
        $(document).ready(function () {
            load('off');
        });

        get_investment_table();
        get_creditcard_table();
        get_categories_table(table_category_finance);
        get_bank_account_table(table_bank_account_finance);
    </script>
{% endblock %}